@model WebPortal.ViewModels.Common.PagedResult<WebPortal.ViewModels.ProductCommentView>

@{
    ViewData["Title"] = "Product Comment - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">
    Product Comment
    <small class="text-muted">@ViewBag.ProductName</small>
</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">            
            <a asp-action="Create" asp-route-productid="@ViewBag.ProductID" class="btn btn-primary btn-icon-split btn-sm">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Add New</span>
            </a>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Subject
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Date created
                        </th>
                        
                        <th>
                            Product
                        </th>
                        <th>
                            Customer
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td class="text-center">
                                <a asp-action="Create" asp-route-parentid="@item.ID" asp-route-productid="@item.ProductID" class="btn btn-primary btn-circle btn-sm">
                                    <i class="fas fa-reply"></i>
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.ID" asp-route-productid="@item.ProductID" class="btn btn-success btn-circle btn-sm">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-circle btn-sm" onclick="return confirm('Confirm delete?');">
                                    <i class="fas fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>